version: '3'
services:
  nginx:
    image: nginx:stable
    volumes:
      - ./www:/www
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - /watorvapor/cert:/etc/cert
    networks:
      - outside
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 64M
        reservations:
          cpus: '0.1'
          memory: 32M
networks:
  outside:
    external:
      name: "host"
